n8n_flows/sync_incremental_diario.json
{
  "name": "Chillanejo — Sync Incremental Diario v2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Cron — cada hora",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Fecha actual en hora de Santiago (UTC-3 verano / UTC-4 invierno)\n// toLocaleDateString con 'en-CA' devuelve YYYY-MM-DD, el formato que usa Relbase.\nconst hoy = new Date().toLocaleDateString('en-CA', { timeZone: 'America/Santiago' });\n\nreturn [{ json: { hoy } }];"
      },
      "id": "set-fecha",
      "name": "Set Fecha Chile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "jsCode": "// Fetch paginado de todas las ventas del día desde Relbase.\n// Relbase pagina de a 12 registros (verificar si es 12 o diferente en producción).\n// Rate limit Relbase: 7 req/seg → sleep 150ms entre páginas.\n\nconst hoy = $input.first().json.hoy;\nconst BASE  = process.env.RELBASE_BASE_URL;\nconst AUTH  = process.env.RELBASE_TOKEN_USUARIO;\nconst COMP  = process.env.RELBASE_TOKEN_EMPRESA;\nconst PAGE_SIZE = 12; // ajustar si Relbase usa un tamaño distinto\n\nif (!BASE || !AUTH || !COMP) {\n  throw new Error('Variables RELBASE_BASE_URL, RELBASE_TOKEN_USUARIO o RELBASE_TOKEN_EMPRESA no definidas');\n}\n\nconst todos = [];\nlet pagina = 1;\n\nwhile (true) {\n  const url = `${BASE}/api/v1/dtes?start_date=${hoy}&end_date=${hoy}&page=${pagina}`;\n  const res = await fetch(url, {\n    headers: {\n      'Authorization': AUTH,\n      'Company': COMP,\n    }\n  });\n\n  if (!res.ok) {\n    throw new Error(`Relbase error ${res.status} en /api/v1/dtes?page=${pagina}: ${await res.text()}`);\n  }\n\n  const data = await res.json();\n  // Relbase puede devolver array directo o { data: [...] } según versión\n  const lista = Array.isArray(data) ? data : (data.data || data.dtes || []);\n  todos.push(...lista);\n\n  if (lista.length < PAGE_SIZE) break; // última página\n  pagina++;\n  await new Promise(r => setTimeout(r, 150));\n}\n\nreturn todos.map(dte => ({ json: dte }));"
      },
      "id": "fetch-ventas-relbase",
      "name": "Fetch Ventas Relbase (paginado)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "jsCode": "// Mapea cada DTE al schema real de Supabase.\n// Schema ventas (verificado contra PostgREST / transformer.py):\n//   relbase_id, tipo_documento, folio, estado_sii, fecha_emision,\n//   neto, iva, total, vendedor, canal, forma_pago\n// cliente_id y bodega_id (FKs uuid) se resuelven en el loader Python;\n// en este sync se omiten deliberadamente para no bloquear el upsert diario.\n\nreturn $input.all().map(item => {\n  const d = item.json;\n  return {\n    json: {\n      relbase_id:    d.id,\n      tipo_documento: d.type_document || d.tipo_documento,\n      folio:         d.folio          || null,\n      estado_sii:    d.sii_status_name || d.estado_sii || null,\n      fecha_emision: (d.start_date || d.fecha_emision || '').slice(0, 10) || null,\n      neto:          d.amount_neto   || d.neto  || 0,\n      iva:           d.amount_iva    || d.iva   || 0,\n      total:         d.amount_total  || d.total || 0,\n      vendedor:      d.vendedor_nombre || d.vendedor || null,\n      forma_pago:    d.payment_method_name || d.payment_method || d.forma_pago || null,\n      canal:         'presencial',\n    }\n  };\n});"
      },
      "id": "mapear-ventas",
      "name": "Mapear Ventas + canal=presencial",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/ventas",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Prefer",        "value": "resolution=merge-duplicates,return=representation" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $input.all().map(i => i.json) }}",
        "options": {}
      },
      "id": "upsert-ventas",
      "name": "Upsert Ventas Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "jsCode": "// Recibe las ventas con UUID ya asignado por Supabase (return=representation).\n// Por cada venta, llama a GET /api/v1/dtes/{relbase_id} para obtener las líneas.\n// Mapea las líneas al schema de ventas_detalle.\n\nconst BASE = process.env.RELBASE_BASE_URL;\nconst AUTH = process.env.RELBASE_TOKEN_USUARIO;\nconst COMP = process.env.RELBASE_TOKEN_EMPRESA;\n\n// $input puede venir como array de objetos o como un objeto con array\nconst ventasSupabase = $input.all().map(i => {\n  // Supabase retorna array; n8n puede envolverlo en item.json o directo\n  if (Array.isArray(i.json)) return i.json;\n  return [i.json];\n}).flat();\n\nconst todasLineas = [];\n\nfor (const venta of ventasSupabase) {\n  const dteId   = venta.relbase_id;\n  const ventaId = venta.id; // UUID de Supabase\n\n  if (!dteId) continue;\n\n  const url = `${BASE}/api/v1/dtes/${dteId}`;\n  const res = await fetch(url, {\n    headers: { 'Authorization': AUTH, 'Company': COMP }\n  });\n\n  if (!res.ok) {\n    // No lanzar: continuar con el siguiente DTE y loguear\n    console.error(`Detalle DTE ${dteId} error: ${res.status}`);\n    continue;\n  }\n\n  const dte   = await res.json();\n  // Relbase devuelve las líneas en distintos campos según versión\n  const items = dte.items || dte.details || dte.lines || dte.detalles || [];\n\n  for (let i = 0; i < items.length; i++) {\n    const it = items[i];\n    const cantidad = it.quantity ?? it.cantidad ?? 0;\n    const precio   = it.price    ?? it.precio_unitario;\n    const descuento = it.discount ?? it.descuento_pct ?? 0;\n    const totalNeto = it.total ?? it.total_neto\n      ?? (precio && cantidad ? parseFloat((precio * cantidad * (1 - descuento / 100)).toFixed(2)) : null);\n\n    todasLineas.push({\n      json: {\n        dte_id_relbase:      dteId,\n        venta_id:            ventaId,\n        numero_linea:        i + 1,\n        relbase_producto_id: it.product_id  || it.relbase_producto_id || null,\n        nombre_producto:     it.name        || it.nombre_producto     || it.descripcion || null,\n        sku:                 it.code        || it.sku                 || it.codigo      || null,\n        cantidad,\n        precio_unitario:     precio         ?? null,\n        costo_unitario:      it.unit_cost   || it.costo_unitario      || null,\n        descuento_pct:       descuento,\n        afecto_iva:          it.is_tax_affected !== undefined ? it.is_tax_affected : true,\n        total_neto:          totalNeto,\n      }\n    });\n  }\n\n  await new Promise(r => setTimeout(r, 150)); // rate limit Relbase\n}\n\nif (!todasLineas.length) {\n  return [{ json: { _sin_detalle: true } }];\n}\n\nreturn todasLineas;"
      },
      "id": "fetch-detalle-relbase",
      "name": "Fetch + Mapear Detalle por DTE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/ventas_detalle",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Prefer",        "value": "resolution=merge-duplicates" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $input.all().filter(i => !i.json._sin_detalle).map(i => i.json) }}",
        "options": {}
      },
      "id": "upsert-detalle",
      "name": "Upsert VentasDetalle Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1680, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/sync_log",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Prefer",        "value": "resolution=merge-duplicates" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "[{\"entidad\":\"dtes_diario\",\"ultimo_sync\":\"{{ $now.toISOString() }}\",\"estado\":\"ok\"}]",
        "options": {}
      },
      "id": "update-sync-log",
      "name": "Update sync_log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1920, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.statusCode }}",
              "operation": "notEqual",
              "value2": "200"
            }
          ]
        }
      },
      "id": "check-error",
      "name": "¿Hubo error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2160, 300]
    },
    {
      "parameters": {
        "to": "dannidro@gmail.com",
        "subject": "⚠️ Error en sync incremental Chillanejo — {{ $now.format('DD/MM/YYYY HH:mm') }}",
        "emailType": "text",
        "message": "El sync incremental diario de Chillanejo falló.\n\nRespuesta: {{ JSON.stringify($json) }}\n\nRevisar logs en n8n."
      },
      "id": "notify-error",
      "name": "Notificar error por email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [2400, 200]
    }
  ],
  "connections": {
    "Cron — cada hora": {
      "main": [[{ "node": "Set Fecha Chile", "type": "main", "index": 0 }]]
    },
    "Set Fecha Chile": {
      "main": [[{ "node": "Fetch Ventas Relbase (paginado)", "type": "main", "index": 0 }]]
    },
    "Fetch Ventas Relbase (paginado)": {
      "main": [[{ "node": "Mapear Ventas + canal=presencial", "type": "main", "index": 0 }]]
    },
    "Mapear Ventas + canal=presencial": {
      "main": [[{ "node": "Upsert Ventas Supabase", "type": "main", "index": 0 }]]
    },
    "Upsert Ventas Supabase": {
      "main": [[{ "node": "Fetch + Mapear Detalle por DTE", "type": "main", "index": 0 }]]
    },
    "Fetch + Mapear Detalle por DTE": {
      "main": [[{ "node": "Upsert VentasDetalle Supabase", "type": "main", "index": 0 }]]
    },
    "Upsert VentasDetalle Supabase": {
      "main": [[{ "node": "Update sync_log", "type": "main", "index": 0 }]]
    },
    "Update sync_log": {
      "main": [[{ "node": "¿Hubo error?", "type": "main", "index": 0 }]]
    },
    "¿Hubo error?": {
      "main": [
        [{ "node": "Notificar error por email", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Sync incremental nativo en n8n. Cada hora: trae DTEs del día desde Relbase con paginación, agrega canal=presencial, upsert ventas+detalle en Supabase.",
    "version": "2.0.0"
  }
}
